<div id="footer">
  <p>Fanta Zeus © All rights reserved 2020</p>
  <p>Created by: Daniel Nachum</p>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="JS/index.js"></script>
</body>
</html>
